[submodule "imgui-boilerplate"]
	path = imgui-boilerplate
	url = https://github.com/lyxell/imgui-boilerplate.git
[submodule "imedit"]
	path = imedit
	url = https://github.com/lyxell/imedit.git
[submodule "squarelog"]
	path = squarelog
	url = https://github.com/lyxell/squarelog.git
