[submodule "imgui-boilerplate"]
	path = imgui-boilerplate
	url = https://github.com/lyxell/imgui-boilerplate.git
[submodule "sjp"]
	path = sjp
	url = https://github.com/lyxell/sjp.git
[submodule "gohufont-ttf"]
	path = gohufont-ttf
	url = https://github.com/koemaeda/gohufont-ttf.git
