[submodule "imgui-boilerplate"]
	path = imgui-boilerplate
	url = https://github.com/lyxell/imgui-boilerplate.git
[submodule "imedit"]
	path = imedit
	url = https://github.com/lyxell/imedit.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "logifix"]
	path = logifix
	url = https://github.com/lyxell/logifix.git
